sdgs.py
synthcity.py
data/
.env_dev/
**/__pycache__/
workspace/
docs/_static
docs/_template
docs/Makefile
docs/make.bat
.vscode/
build/
dist/
*.egg-info/
_templates/
_static/

docs/_build/doctrees/
docs/_build/latex/*
!docs/_build/latex/synthprivacy.pdf
.env_dev2/

